## Segmenting and Clustering Neighborhoods in Toronto

## Import libraries

In [3]:
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

from bs4 import BeautifulSoup 
import urllib3

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

import folium # plotting library

print('Libraries imported.')

Libraries imported.

## Pull Data from URL

In [4]:
http = urllib3.PoolManager()
r = http.request('GET', 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
bs = BeautifulSoup(r.data, "html.parser")

/Users/kathleenprince-sayward/anaconda/lib/python3.6/site-packages/urllib3/connectionpool.py:857: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [81]:
data = []
table = bs.find('table', attrs={'class':'wikitable sortable'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

### Convert Data to dataframe & Clean up

In [104]:
df = pd.DataFrame(data, columns=['Postcode','Borough','Neighborhood'])
df = df[df.Borough != 'Not assigned']
df = df.drop(0)
df = df.Neighborhood.replace('Not assigned',df.Borough)
df = df.groupby('Postcode').agg(lambda x: ','.join(set(x)))
df = df.reset_index()
PRdf.head()
df.shape()

  Postcode       Borough      Neighborhood
0     None          None              None
1      M1A  Not assigned      Not assigned
2      M2A  Not assigned      Not assigned
3      M3A    North York         Parkwoods
4      M4A    North York  Victoria Village

#### Replace neighborhoods = Not assigned with Borough

In [107]:
df.Neighborhood.replace('Not assigned',df.Borough,inplace=True)
df.head(10)

   Postcode           Borough      Neighborhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

#### Group by Postcode

In [108]:
df = df.groupby('Postcode').agg(lambda x: ','.join(set(x)))
df.head()

              Borough                          Neighborhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Port Union,Highland Creek,Rouge Hill
M1E       Scarborough       West Hill,Guildwood,Morningside
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [109]:
df = df.reset_index()  # Reset the index
df.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Malvern,Rouge
1      M1C  Scarborough  Port Union,Highland Creek,Rouge Hill
2      M1E  Scarborough       West Hill,Guildwood,Morningside
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [110]:
df.shape

(103, 3)